<div class="container">
    <main>
        <section id="section1">
            <h2>Seção 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam dolorum blanditiis dolore? Ab
                reprehenderit labore perferendis dignissimos repudiandae eligendi illum quod corporis, qui sapiente,
                tenetur recusandae ratione, eaque nulla soluta.
                Pariatur delectus itaque, dolore, accusantium qui dignissimos ut perferendis possimus maiores sit nam
                laborum. Officia quo sapiente, eligendi aperiam explicabo corrupti nesciunt officiis suscipit molestias
                dolor adipisci at doloremque. Ipsa.
                Id possimus quidem sit distinctio beatae recusandae ex optio iusto ut explicabo expedita voluptates
                voluptate, ipsam aspernatur sapiente suscipit accusamus eligendi neque velit. Magnam porro earum officia
                reprehenderit a minima.</p>
        </section>

        <section id="section2">
            <h2>Seção 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut beatae sunt iusto consequuntur magni
                temporibus quo vero eaque suscipit. Fugiat suscipit optio distinctio tenetur dolor. Maiores adipisci
                ipsum nemo consequuntur?
                Quod quisquam, quaerat maxime nam facere doloribus deserunt cupiditate veritatis mollitia, commodi eius
                nisi illum molestias quo dolore optio ut totam aut eaque cum neque nihil odit repellat nostrum!
                Obcaecati.</p>
        </section>

        <section id="section3">
            <h2>Seção 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, autem fuga sint unde quasi libero quidem
                aliquid officia corporis provident, eaque fugiat magni nihil ea a reprehenderit ipsam, aperiam
                voluptates.
                Libero ipsam pariatur itaque porro quidem eligendi qui quis atque dolorem quo voluptate aliquid maiores
                minima labore officia minus nostrum culpa tempore, in esse. A eius repellendus labore obcaecati
                excepturi.
                Atque dolor minus accusantium magni porro veniam commodi aspernatur quam qui tempore. Illum sunt,
                cupiditate ipsa et magnam ab aliquid ad provident fuga amet totam voluptas aliquam, nobis soluta
                exercitationem!
                Eaque, dolorum beatae. Rem aspernatur ut modi beatae maxime sapiente fuga! Velit sit dicta iste unde,
                adipisci nemo odit architecto aliquid sunt doloremque harum qui quo esse nisi consequatur ipsum!</p>
        </section>

        <section id="section4">
            <h2>Seção 4</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo natus ab minima dignissimos sit optio
                error pariatur suscipit, quisquam officiis illum hic sapiente fugiat nam nisi labore sequi qui aut!</p>
        </section>
    </main>

    <aside>
        <h3>Sidebar</h3>
        <ul>
            <li>Item 1</li>
            <ul>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quo alias accusantium eaque a
                    asperiores expedita temporibus repellendus repudiandae soluta. Nulla, dolorem quam fuga expedita ad
                    nisi blanditiis maxime quis.</li>
            </ul>
            <li>Item 2</li>
            <ul>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quo alias accusantium eaque a
                    asperiores expedita temporibus repellendus repudiandae soluta. Nulla, dolorem quam fuga expedita ad
                    nisi blanditiis maxime quis.</li>
            </ul>
            <li>Item 3</li>
            <ul>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quo alias accusantium eaque a
                    asperiores expedita temporibus repellendus repudiandae soluta. Nulla, dolorem quam fuga expedita ad
                    nisi blanditiis maxime quis.</li>
            </ul>
        </ul>
    </aside>
</div>
